* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #280c25;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

  }

  h1 {
    position: absolute;
    top: 1%;
    text-align: center;
  }
  
  .calculator {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 400px;
  }
  
  .output {
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #eee;
  }
  
  .key--operators {
    background-color: #f0f0f0;
  }
  
  .equal {
    background-color: #ff9f00;
    color: #fff;
  }
  
  .equal:hover {
    background-color: #e68a00;
  } 
  
  /* Adjusting the zero button to span two columns */
  .keys button:nth-child(17) {
    grid-column: span 2;
  }